.btn {
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 10px 20px;
}
.btn {
  &-green {
    background-color: $green;
    color: white;
    margin-right: 8px;
  }

  &-transparent {
    background-color: transparent;
    color: black;
    margin-left: 8px;
  }

  &-rounded {
    @include border-radius(50px);
  }

  &-blue {
    background-color: $blue;
    color: #fff;
  }

  &-yellow {
    background-color: $yellow;
    color: #000;
  }

  &-border {
    &--blue {
      border: 1px solid $blue;
      color: $brown;
    }
  }
}
